body{
	background-image: url('../img/bodyfon.png');
	background-repeat: repeat-y;
	background-position:center;
	background-color: #1c3954;
}
#wrapper {
     width: 75%;
    margin: 0 auto;
}
/*header{
    background-image: url('../img/logo1.png');
    background-repeat: no-repeat;
    background-position: center; 
    height:160px;
    position: relative;
}
nav{
	position: absolute;
    right: 0;
    bottom: 20px;
    right: 12%;
}*/
button {
padding: 2px 10px;
margin-left: 6px;
font-family: sans-serif;
font-size: 1em;
}
.styled-select { 
  overflow: hidden; 
  width: 150px;
}
select { 
width: 150px;
padding: 2px 10px;
margin-left: 6px;
font-family: sans-serif;
font-size: 1em; 
}
/*.declaration,.donation,.membership,.statut,.conf .border{
background-color: white;
width: 840px;
position: absolute;
top: 27%;
left: 9%;
padding-left: 105px;
padding-right: 80px;
padding-top: 50px;
padding-bottom: 70px;
}*/
h1{
	font-family: verdana,sans-serif;
	padding-bottom: 50px;
}
.declaration h1,.statut h1, .statut h2{
	font-family: verdana,sans-serif;
	text-align: center;
	margin-bottom: 50px;
}
p{
	font-family: verdana,sans-serif;
	font-size:15px;
	line-height:25px;	
}
.signature{
	margin-top: 50px;
	text-align: right;
}
.picture img{
    float: left;
    width: 25%;
    margin: 10px;
    margin-left: 0;
}

.content {
    width: 68%;
    z-index: 2;
}

@media screen and (max-width: 800px) {
    .content {
        width: 88%;
    }   
}

@media screen and (max-width: 600px) {
    .content {
        width: 98%;
    }   
}

article {
    padding: 10px;
    background: white;
    margin-bottom: 250px;
}
article:last-of-type {
    margin-bottom: 0px;
}
article header {
    width: 100%;
    background: none;
    color: #1c3954;
    border-bottom: 1px solid #1c3954;
    height: auto;
}
article footer {
    width: 90%;
    border-top: 1px solid #1c3954;
    color: #1c3954;
    padding-top: 10px;
}
article ul, li {
    padding-left: 25px;
}

body, .mainnav, ul, li {
    margin: 0;
    padding: 0;
}

.formLabels {
    float: left;
    line-height: 150%;
    width: 100px;
}

.formFill {
    float: left;
    width: 440px;
}
.formFill textarea {
    width: 440px;
    height: 200px;
}
.formFill input {
    width: 300px;
}
.formFill input[type=reset] {
    width: 80px;
}
.formFill input[type=submit] {
    width: 80px;
}

nav ul li ul li:nth-child(even){
    border-top: 2px solid #2b526a;
    border-bottom: 2px solid #2b526a;
}

nav ul.horizontal li ul li a {
    display: block;
    font-size: 1.2em;
    color: white;
    padding: 0.5em;
    position: relative;
    text-decoration: none;
    color:white
}

#page-header {
    background-color:#1C3954;
    padding-bottom:50px;
    padding-top:30px;
    padding-left:50px;
    padding-right:50px;
}
            /*Logo and headtext CSS*/
#headtext {
    display:inline-block;
    float:right;
    margin-right:10%;
}
#logo {
    margin-left:10%;
    display:inline-block;
    max-width:100%;
}
#headtext span {
    font-size:2em;
    margin-right:10px;
}
#headtext span:nth-child(1) {
    color:white;
}
#headtext span:nth-child(2) {
    color:green;
}
#headtext span:nth-child(3) {
    color:red;
}
#headtext span:nth-child(4) {
    color:white;
    display:block;
    font-weight:bold;
    text-align:center;
    margin-top:5%;
}
@media (max-width: 960px) {
    #headtext {
        margin-right:5%;
    }
    #logo {
        margin-left:5%;
    }
}
@media (max-width: 900px) {
    #headtext {
        margin-right:0%;
    }
    #logo {
        margin-left:0%;
    }
}
@media (max-width: 800px) {
    #logo {
        display:block;
        margin-left:auto;
        margin-right:auto;
    }
    #headtext {
        display:block;
        margin-left:auto;
        margin-right:auto;
        text-align:center;
        float:inherit;
    }
    #headtext span {
        display:block;
        font-size:1em;
    }
    #page-header {
        padding:2%;
    }
}

#page-header nav ul {
    list-style-type:none;
    float:right;
    display:block;
    margin-top:15px;
}
#page-header nav ul li {
    display:inline-block;
    padding-left:10px;
    font-weight:bold;
    padding-bottom:10px;
    font-size:1em;
}
.whitetext {
    color:white;
}
.greentext {
    color:green;
}
.redtext {
    color:red;
}
#page-header nav ul li a:hover {
    font-size: 2em;
    text-decoration: none;
}

@media (max-width:900px) {
    #page-header nav ul li {
        font-size:0.8em;
    }
    #page-header nav ul {
        display:block;
        float:none;
        margin-left:auto;
        margin-right:auto;
    }
}
@media (max-width:700px) {
    #page-header nav ul li {
        display:block;
        margin-left:0px;
        width:100%;
        text-align:center;
    }
    #page-header nav ul {
        margin-left:auto;
        margin-right:auto;
        margin-top:10px;
        padding-left:0px;
    }
}